body {
  background-image: linear-gradient(
    to right,
    #B0E0E6,
    #B0E0E6,
    #C0E6EB,
    #CDEBEF,
    #D7EFF2,
    #DFF2F5,
    #E5F5F7
  );
}
.navigation-bar ul {
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  max-width: 100%;
}
header {
  max-width: 100%;
}
footer {
  max-width: 100%;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

p {
  font-size: 12px;
  align: center;
  max-width: 100%;
}
